spring:
  application:
    name: rabbit-mq-producer-consumer
  rabbitmq:
    host: ${SPRING_RABBITMQ_HOST:localhost}
    port: ${SPRING_RABBITMQ_PORT:5672}
    username: ${SPRING_RABBITMQ_USERNAME:admin}
    password: ${SPRING_RABBITMQ_PASSWORD:admin123}
    listener:
      simple:
        acknowledge-mode: manual
        prefetch: 1
        retry:
          enabled: true
          initial-interval: 3s
          max-attempts: 3
          multiplier: 2
server:
  port: 8080
management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics